.header-color {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Landing Page */
.landing-grid {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-grid .mdl-cell {
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.landing-grid img {
  width: 63%;
  height: auto;
}

.banner-text {
  overflow: scroll;
}

.projects-grid {
  display: flex;
}

/* About me CSS */

.about-body{
  margin: auto;
  background: #11998e;  /* fallback for old browsers */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: linear-gradient(270deg,  #34e89e, #0f3443);

  
  background-size: 600% 600%;

  -webkit-animation: LinearGradient 60s ease infinite;
  -moz-animation: LinearGradient 60s ease infinite;
  animation: LinearGradient 60s ease infinite;
}

.about-body p {
  width: 100%;
  margin: auto;
  padding-top: 0em;
  font-size: 20px;
  font-family: "Roboto Condensed";
  text-align: left;
  margin-top: 16px;
  line-height: 1.3;
  letter-spacing: 0.3px;
}

.about-grid {
  text-align: center;
  justify-content: center;
  width: 65%;
  height: 500px;
  background: white;
  color: black;
  border: 2px solid #a5d9b0;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: scroll;
  height: 80vh;
  padding: 16px;
}

/* resume  CSS*/
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}


/* contacts CSS*/
.contact-body {
  margin: auto;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 2px solid #a5d9b0;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 98vh;
  overflow: scroll;
  display: flex;
}


.contact-grid h2 {
  font-family: 'Slabo 27px', serif;
}
.contact-grid p {
  font-family: 'PT Serif', serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted #01104b;
  width: 50%;
  margin: auto;
  font-family: 'PT Serif', serif;
}

.contact-list i {
font-size: 66px;
padding-right: 5em;
margin: -17px 0px -7px 0px;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px; 
}

.banner-text h1 {
  font-size: 56px;
  font-weight: bold;
  color: white;
  font-family: 'Droid Sans';
  /* padding-left: 37px; */
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  /* font-weight: bold; */
  font-family: 'Droid Sans';
}

.social-links {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  width: 176px;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.social-links i i i {
  color: blue;
}



@media (max-width: 600px) {
  .mdl-cell.mdl-cell--9-col p {
    display: absolute;
  }
}

@-webkit-keyframes LinearGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes LinearGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes LinearGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}